target/classes/test/Address.class
.vscode/launch.json
target/classes/task/App.class
target/classes/task/Company.class
.gitignore
target/classes/task/Property.class
.vscode/settings.json
target/test-classes/test/AppTest.class
.settings/org.eclipse.core.resources.prefs
target/classes/task/Filler.class
src/main/java/task/PropertyManager.class
